{% extends 'base.html' %}


{% block static_files %}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/info.css">
{% endblock %}




{% block content %}

    {% if book_response == 200 %}


        <div class="container">
            <div class="row">
                            
                <div class="col-md-4">
                                    
                                
                </div>
                <div class="col-md-4">
                      
                    <div class="container_info"
                         style="padding-top:150px; opacity: 0.9;">
                                    
                        <div class="panel panel-primary">
                                            
                            <form>
                                <div style="align-content: center; text-align: center">
                                    SUCCESS
                                </div>

                                <div style="align-content:center; text-align: center">
                                    <a href="{% url 'index' %}"
                                       class=" btn btn-danger "
                                       style="align-items: center; margin-top: 50px; width:200px;">Make
                                        A New Search</a>

                                </div>

                            </form>
                                        
                        </div>
                                    
                                
                    </div>
                            
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>

          



    {% endif %}
    {% if book_response != 200 %}

        Book islemi sirasinda bir hata meydana geldi

    {% endif %}





{% endblock %}