{% extends 'base.html' %}


{% block static_files %}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/detail.css">
{% endblock %}

{% block content %}

    <div class="container" style="padding-top: 20px; opacity: 0.9;">

        {% for room in room_data %}
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <input type="hidden" name="hotel_name" align="center"
                               value={{ room.rooms.0.room_category }}>{{ room.rooms.0.room_category }}
                    </div>
                    <div class="panel-heading">
                        <input type="hidden" name="hotel_name"
                               value={{ room.price }}>{{ room.price }}

                    </div>
                    <div class="panel-body" style="padding-top: 20px">
                        {{ room.meal_type }} ,

                        <input type="hidden" name="hotel_name"
                               value={{ room.currency }}>{{ room.currency }} ,
                        <input type="hidden" name="hotel_name"
                               value={{ room.rooms.0.room_description }}>{{ room.rooms.0.room_description }}

                        <a href="{% url 'info' prod_code=room.code %}"
                           type="submit" class="btn btn-danger"
                           style="float:right" id="next">Book
                        </a>

                    </div>
                </div>
            </div>
        {% endfor %}

    </div>



{% endblock %}