{% extends 'base.html' %}
<head>

    <style>
        .booking_btn {
            width: 80%;
        !important;
            height: 60%;
        !important;
            color: red;
        !important;
            margin-top: 20px;
        !important;
            margin-right: 100px;
        !important;
        }
    </style>


</head>

{% block content %}
    <form method="GET" action="{% url 'my_bookings' %}"
          style="margin-left: 130px; margin-top: 25px">
        <button type="submit"
                style="background-color: red;
                color: white;
                border-color: transparent;
                border-radius: 5px; width: 80px; height: 30px;">
            Bookings
        </button>
    </form>

    <div class="reservation">
        {% load today %}

        <form method="GET" action="{% url 'detail' %}">
            <ul>
                <li class="span1_of_1">
                    <h5>Destination</h5>
                    <!----------start section_room----------->
                    <div class="section_room">
                        <select name="destination" id="country"
                                onchange="change_country(this.value)"
                                class="frm-field required">
                            {% for dst in destinations %}
                                <option value="{{ dst.coral_code }}">{{ dst.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </li>
                <li class="span1_of_1 left">
                    <h5>check-in-date:</h5>
                    <div class="book_date">
                        <input name="checkin" class="date" id="datepicker"
                               type="text"
                               autocomplete="off"
                               value="{{ today }}" onfocus="this.value = '';">

                    </div>
                </li>
                <li class="span1_of_1 left">
                    <h5>check-out-date:</h5>
                    <div class="book_date">
                        <input name="checkout" class="date" id="datepicker1"
                               type="text"
                               autocomplete="off"
                               value="{{ tomorrow }}"
                               onfocus="this.value = '';">
                    </div>
                </li>
                <li class="span1_of_2 left">
                    <h5>Pax:</h5>
                    <!----------start section_room----------->
                    <div class="section_room">
                        <select name="pax" id="country"
                                onchange="change_country(this.value)"
                                class="frm-field required">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                        </select>
                    </div>
                </li>
                <li class="span1_of_3">
                    <button type="submit" class="btn" id="load">Search Hotel
                    </button>
                </li>
                <div class="clear"></div>
            </ul>
        </form>
    </div>
    <div class="clear"></div>

{% endblock %}