{% extends 'base.html' %}


{% block static_files %}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/info.css">
{% endblock %}




{% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        Important: {% endif %}
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if availability_response == 200 %}


        <div class="container">
            <div class="row">
                            
                <div class="col-md-4">
                                    
                                
                </div>
                <div class="col-md-4">
                      
                    <div class="container_info"
                         style="padding-top:150px; opacity: 0.9;">
                                    
                        <div class="panel panel-primary">
                                            
                            <form action="{% url 'booking' %}">
                                <input type="hidden" name="prod_code"
                                       value="{{ room_data.0.prod_code }}">
                                <div style="align-content: center; text-align: center">
                                    {{ room_data.0.hotel_name }}
                                </div>
                                <div style="align-content: center; text-align: center">
                                    Total
                                    / {{ result.price }}
                                    {{ result.currency }}
                                </div>
                                <div style="align-content: center; text-align: center">
                                    Per Night
                                    / {{ room_data.0.per_night }} {{ result.currency }}
                                </div>
                                <div style="align-content: center; text-align: center">
                                    Room Category
                                    / {{ result.rooms.0.room_category }}
                                </div>
                                <div style="align-content: center; text-align: center">
                                    room_description
                                    / {{ result.rooms.0.room_description }}
                                </div>
                                <div style="align-content: center; text-align: center">
                                    room_type
                                    / {{ result.rooms.0.room_type }}
                                </div>
                                <div style="align-content: center; text-align: center">
                                    meal_type
                                    / {{ result.meal_type }}
                                </div>
                                {% for index in room_data.0.pax_range %}
                                                        
                                    <div style="align-content:center; text-align: center">
                                        Pax Name
                                    </div>
                                    <div style="align-content:center; text-align: center">
                                        <input type="text"
                                               name="pax_name"
                                               style="text-align: center"
                                               required>
                                    </div>
                                                        
                                {% endfor %}

                                <div style="align-content: center; text-align: center">
                                    <div style="align-content:center; text-align: center">
                                        Email
                                    </div>
                                    <div style="align-content:center; text-align: center">
                                        <input type="text"
                                               name="email"
                                               style="text-align: center"
                                               required>
                                    </div>
                                       
                                    <div style="align-content:center; text-align: center">
                                        <!-- <a href="{#  #} url 'booking' prod_code=room_data.0.prod_code #}"
                                       class="
                                       btn btn-danger"
                                       style="align-items: center; width:
                                    120px;">Book</a> -->

                                        <input type="submit"
                                               class="btn btn-danger"
                                               value="Book">

                                    </div>
                                        
                                          

                            </form>
                                        
                        </div>
                                    
                                
                    </div>
                            
                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>

          



    {% endif %}
    {% if availability_response != 200 %}

        Oda musait değil lütfen başka bir oda seçiniz

    {% endif %}





{% endblock %}