{% extends 'base.html' %}


{% block static_files %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/detail.css">
{% endblock %}

{% block content %}

    <div class="container" style="padding-top: 20px; opacity: 0.9;">

        {% for book in bookings %}
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align: center">
                        <span>{{ book.user.get_username }}</span>
                    </div>
                    <div class="panel-body" style="padding-top: 10px">
                        <span>{{ book.hotel.name }}</span>
                    </div>
                    <div class="panel-body" style="padding-top: 10px">
                        <span>{{ book.provision_code }}</span>
                    </div>
                    <div class="panel-body" style="padding-top: 10px">
                        <span>{{ book.booking_code }}</span>
                    </div>
                    <div class="panel-body" style="padding-top: 10px">
                        <span>{{ book.coral_booking_code }}</span>
                    </div>
                    <div class="panel-body" style="padding-top: 10px">
                        <span>{{ book.room_type }}</span>
                    </div>
                    <div class="panel-body" style="padding-top: 10px">
                        <span>{{ book.room_description }}</span>
                    </div>
                    <div class="panel-body" style="padding-top: 10px">
                        <span>{{ book.pax_count }}</span>
                    </div>
                    <div class="panel-body" style="padding-top: 10px">
                        <span>{{ book.pax_names }}</span>
                    </div>
                    <div class="panel-body" style="padding-top: 10px">
                        <span>{{ book.status }}</span>
                    </div>
                    <div class="panel-body" style="padding-top: 10px">
                        <span>{{ book.price }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>



{% endblock %}