body {
    background-image: url("/static/bgg.jpg") !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.top-buffer { margin-top:200px; }

