<!DOCTYPE HTML>
<html>
<head>
    <title>The Paradise-Hotel Website Template | Hotel :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    {% load static %}

    {% block static_files %}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700'
          rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css"
          media="all"/>
    <!--start slider -->
    <link rel="stylesheet" href="/static/css/fwslider.css" media="all">

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/css3-mediaqueries.js' %}"></script>
    <script src="{% static 'js/fwslider.js' %}"></script>
    <!--end slider -->
    <!---strat-date-piker---->
    <script>
        $(function () {
            $("#datepicker,#datepicker1").datepicker({"dateFormat": "yy-mm-dd"});
        });
    </script>
    <!---/End-date-piker---->
    <link type="text/css" rel="stylesheet" href="/static/css/JFGrid.css"/>
    <link type="text/css" rel="stylesheet"
          href="/static/css/JFFormStyle-1.css"/>
    <script type="text/javascript" src="/static/js/JFCore.js"></script>
    <script type="text/javascript" src="/static/js/JFForms.js"></script>
    <!-- Set here the key for your domain in order to hide the watermark on the web server -->
    <script type="text/javascript">
        (function () {
            JC.init({
                domainKey: ''
            });
        })();
    </script>
    <!--nav-->
    <script>
        $(function () {
            var pull = $('#pull');
            menu = $('nav ul');
            menuHeight = menu.height();

            $(pull).on('click', function (e) {
                e.preventDefault();
                menu.slideToggle();
            });

            $(window).resize(function () {
                var w = $(window).width();
                if (w > 320 && menu.is(':hidden')) {
                    menu.removeAttr('style');
                }
            });
        });
    </script>
    <style>

        .reservation {
            margin-top: 190px;
            margin-left: 130px;
            height: 70px;
            opacity: 0.9;
            border-radius: 5px;
            border-color: red;
            border-width: 5px;
        }

        .reservation .span1_of_1 .section_room .frm-field {
            height: 38px;
        }

        .reservation .span1_of_2 .section_room .frm-field {
            height: 38px;
        }

        .reservation .span1_of_3 .btn {
            height: 38px;
            margin-top: 35px;
            margin-left: 20px;
            width: 180px;
            background-color: red;
            color: white;
            border-color: white;
            border-width: 1px;
            border-radius: 5px;
        }

    </style>
    {% endblock %}
</head>
<body>

{% block content %}{% endblock %}


<script type="text/javascript">
    $('#load').on('click', function () {
        var button = $(this);
        button.text('Searching...')
    });
</script>
</body>
</html>